
.container {
    padding-left: 5%; /* Mantiene el espacio en el lado izquierdo */
    padding-right: 5%;
  }
  
  /* Media query para dispositivos más pequeños, como teléfonos móviles */
  @media (max-width: 968px) {
    .container {
      padding-left: 30%; /* Elimina el espacio en el lado izquierdo */
      width: 100%;
    }
  }
  .custom-card {
    width: 100%;
    margin: 0 auto; /* Centra horizontalmente */
    overflow-x: auto;
  }
  
  
  
  table {
    width: 100%;
    overflow: auto;
  }
  .table-container {
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega la barra de desplazamiento vertical cuando sea necesario */
  }
  .table-header {
    background-color:dimgray; /* Color de fondo deseado */
    color: white; /* Color del texto en el encabezado */
    text-align: center;
  }
  .pointer {
    cursor: pointer;
    text-align: center;
  }
  
  mat-form-field{
    width: 50%;
    
  }
  
  .filter {
  padding-left: 50px;
  
  }
  
  .hidden-column {
    display: none;
  }
  
  
  tr.mat-row.selected-row {
    background-color: #f0f0f0; /* Cambia el color de fondo de la fila seleccionada */
    cursor: pointer; /* Cambia el cursor al pasar por encima de la fila */
   
  }
  
  /* Estilos para resaltar las filas al pasar el mouse por encima */
  tr.highlight:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse por encima */
    cursor: pointer; /* Cambia el cursor al pasar el mouse por encima */
   
  }
  
  .action-buttons {
    display: flex; /* Establece el contenedor como un contenedor flex */
    align-items: center; /* Alinea los botones verticalmente en el centro */
    justify-content: space-between; /* Alinea los botones horizontalmente con espacio entre ellos */
  }
  
  