<div id="main-wrapper">

    <app-main-header></app-main-header>
    <app-sidebar></app-sidebar>


    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Sistemas de Rutas -->

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                          <router-outlet></router-outlet>
                          
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>