<div class="container">

  <mat-card class="custom-card">
    <div class="filter">
      <mat-form-field appearance="outline">
        <mat-label for="filter">Buscar Empleado</mat-label>
        <input id="filter" matInput (keyup)="applyFilter($event)" placeholder="Ingrese alguna coincidencia" #input
          autocomplete="off">
        <mat-hint>Por favor, busque al empleado que desea modificar o eliminar</mat-hint>
      </mat-form-field>
    </div>

  </mat-card>

  <br>
  <mat-card class="custom-card">
    <div class="table-container">

      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="idEmployee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="'none'"> No. </th>
          <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.idEmployee}} </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>

        <ng-container matColumnDef="userCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="names">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Primer Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.firstLastName}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header  [style.display]="'none'"> Primer Nombre </th>
          <td mat-cell *matCellDef="let element"  [style.display]="'none'"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="secondName" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header  [style.display]="'none'"> Segundo Nombre </th>
          <td mat-cell *matCellDef="let element"  [style.display]="'none'"> {{element.secondName}} </td>
        </ng-container>

        <ng-container matColumnDef="firstLastName" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header  [style.display]="'none'"> Primer Apellido </th>
          <td mat-cell *matCellDef="let element"  [style.display]="'none'"> {{element.firstLastName}} </td>
        </ng-container>

        <ng-container matColumnDef="secondLastName">
          <th mat-header-cell *matHeaderCellDef  [style.display]="'none'"> Segundo Apellido </th>
          <td mat-cell *matCellDef="let element"  [style.display]="'none'"> {{element.secondLastName}} </td>
        </ng-container>

        <ng-container matColumnDef="dpi">
          <th mat-header-cell *matHeaderCellDef> DPI </th>
          <td mat-cell *matCellDef="let element"> {{element.dpi}} </td>
        </ng-container>

        <ng-container matColumnDef="hireDate">
          <th mat-header-cell *matHeaderCellDef> Fecha de Alta </th>
          <td mat-cell *matCellDef="let element"> {{element.hireDate}}</td>
        </ng-container>

        <ng-container matColumnDef="idCampus">
          <th mat-header-cell *matHeaderCellDef [style.display]="'none'"> Sede </th>
          <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.idCampus}} </td>
        </ng-container>

        <ng-container matColumnDef="campus">
          <th mat-header-cell *matHeaderCellDef> Sede </th>
          <td mat-cell *matCellDef="let element"> {{element.campusName}} </td>
        </ng-container>

        <ng-container matColumnDef="idWorkposition">
          <th mat-header-cell *matHeaderCellDef [style.display]="'none'"> Cargo </th>
          <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.idWorkposition}} </td>
        </ng-container>

        <ng-container matColumnDef="workPosition">
          <th mat-header-cell *matHeaderCellDef> Cargo </th>
          <td mat-cell *matCellDef="let element"> {{element.workPosition}} </td>
        </ng-container>


        <ng-container matColumnDef="idMunicipality">
          <th mat-header-cell *matHeaderCellDef [style.display]="'none'"> Municipio </th>
          <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.idMunicipality}}</td>
        </ng-container>
        <ng-container matColumnDef="municipality">
          <th mat-header-cell *matHeaderCellDef> Municipio </th>
          <td mat-cell *matCellDef="let element"> {{element.municipality}}</td>
        </ng-container>

        <ng-container matColumnDef="addressReference">
          <th mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let element">{{element.addressReference}} </td>
        </ng-container>

        <ng-container matColumnDef="BACaccount">
          <th mat-header-cell *matHeaderCellDef> Cuenta BAC </th>
          <td mat-cell *matCellDef="let element"> {{element.BACaccount}} </td>
        </ng-container>

        <ng-container matColumnDef="BAMaccount">
          <th mat-header-cell *matHeaderCellDef> Cuenta BAM </th>
          <td mat-cell *matCellDef="let element"> {{element.BAMaccount}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones</th>
          <td mat-cell *matCellDef="let row">
            <div class="action-buttons">
              <button mat-icon-button color="primary" class="pointer" matTooltip="editar empleado" (click)="openEditUserDialog(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="accent" class="pointer" matTooltip="dar de baja usuario" (click)="deActivateEmployee(row.idEmployee)">
                <mat-icon>block</mat-icon>
              </button>
              <button mat-icon-button color="warn" class="pointer" matTooltip="eliminar empleado" (click)="deleteUserDialog(row.idEmployee)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="highlight"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    
    </div>
  </mat-card>
</div>